

/*MEDICINE DONATION CENTER

#signupWin
{   margin-top: 70px;
    display: none;
     background-color: rgb(58, 139, 58); 
    height: 400px;
    width: 600px;
}
#loginWin
{
    margin-top: 70px;
    display: none;
     background-color: rgb(58, 139, 58); 
    height: 360px;
    width: 600px;
}
*/