<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADMIN BLOCK USER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script  src="js/angular.min.js"></script>
  <script src="js/jquery-1.8.2.min.js"></script>

  <script>
    var module=angular.module("myModule",[]);

    module.controller("myController",function($scope,$http){

        $scope.jsonAry=[];
        $scope.fetchAllRecords=function(){
            $http.get("/fetchAllRecords").then(fxSuccess,function(response){
                // alert(JSON.stringify(response.data));
            })
            function fxSuccess(response){
                $scope.jsonAry=response.data;
            }
        }

        $scope.blockuser=function(email){
            var url="/block-status?email="+email;
            $http.get(url).then(fxblock,function(response){
                // alert(response);
                // $scope.fetchAllRecords();
            })
            function fxblock(response)
            {
                
                // alert(response);
                $scope.fetchAllRecords();
            }
        }



        $scope.resumeuser=function(email){
            var url="/resume-status?email="+email;
            $http.get(url).then(fxresume,function(response){
                // alert(response);
                // $scope.fetchAllRecords();
            })
            function fxresume(response)
            {
                
                // alert(response);
                $scope.fetchAllRecords();
            }
        }
    })

    
</script>



</head>
  <body ng-app="myModule" ng-controller="myController">

    <nav class="navbar bg-primary">
      
        <div class="container-fluid  " >
          <img src="mypics/vats md.png" alt="" width="100" height="75" style="margin:-12px; ">
      <span class="navbar-brand mb-0 h1"
        style="color: white;margin-left:45px; font-size: 30px; font-family:Georgia, 'Times New Roman', Times, serif ;">All USERS</span>
        </div>
      </nav> 
    <div class="container mt-5">
        <div class="d-flex justify-content-center mb-5">
            <button type="button" class="btn btn-outline-primary" ng-click="fetchAllRecords();">Fetch All Records</button>
        </div>
   
    <!--table-->
    <div class="container" style="border: 2px solid blue;">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">User Type</th>
                <th scope="col">Status</th>
                <th scope="col">Decision</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in jsonAry">
                  <th scope="row">{{$index+1}}</th>
                  <th>{{obj.email}}</th>
                  <th>{{obj.utype}}</th>
                  <th>{{obj.status}}</th>
                  <th>
                      <button type="button" class="btn btn-secondary btn-sm" ng-click="blockuser(obj.email);">Block</button>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="resumeuser(obj.email);">Resume</button>
                  </th>
                </tr>
                
              </tbody>
          </table>
    
    </div>

    <hr>
<!-- <div class="footer" style="background-color: rgb(116, 128, 238); height:40px;">
  <span  style="color: rgb(19, 18, 18); font-size: 20px; font-family:Georgia, 'Times New Roman', Times, serif ;"> <center>
    © COPYRIGHT 2022  VATS MEDICINE DONOR ALL RIGHTS RESERVED 
  </center>
  </span>
</div> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>






<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin-block-user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/angular.min.js"> </script>
    <script>

        var moduleKuch = angular.module("myModule", []);
        moduleKuch.controller("myController", function ($scope, $http) {

            $scope.jsonAry = [];
            //fetchAllRecords
            $scope.fetchAllRecords = function () {
                $http.get("/fetchAllRecords").then(fxSuccess, function (response) {
                    alert(JSON.stringify(response.data));
                });
                function fxSuccess(response) {
                
                    $scope.jsonAry = response.data;
                }
            }
            //------------------------
            $scope.doDelete = function (email, index) {
                
                if (confirm("R U Sure?") == false)
                    return;

                var url = "/profile-delete-angualr?emailidX=" + email;
                $http.get(url).then(fxAnmol, function (response) {
                    alert(response.data);
                });
                function fxAnmol(response) {
                    
                    $scope.fetchAllRecords();
                }
            }

        })



    </script>
</head>

<body ng-app="myModule" ng-controller="myController">
    <nav class="navbar bg-primary">
        <div class="container-fluid justify-content-center">
            <span class="navbar-brand mb-0 h1" style="color: white; font-size:35px ;">Admin Block User</span>
        </div>
    </nav>
    table

    <div class="container mt-5">
        <div class="d-flex justify-content-center mb-5">
             <button type="button" class="btn btn-outline-primary" ng-click=fetchAllRecords();>Fetch All Records</button> -->
           <!-- <input type="button"  class="btn btn-outline-primary" value="Fetch All Users" ng-click="fetchAllRecords();">
        </div> -->


        <!-- <div class="container mt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">S No.</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Usertype</th>
                <th scope="col">status</th>
                
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="obj in jsonAry">
                <th scope="row">{{$index}}</th>
                <th>{{obj.email}}</th>
                <th>{{obj.pwd}}</th>
                <th>{{obj.utype}}</th>
                <th>{{obj.status}}</th>
                <th>
                    <button type="button" class="btn btn-primary btn-sm" ng-click=doDelete(obj.email,$index);>Delete</button>
                </th>
              </tr>
              
            </tbody>
          </table>
    </div>
     -->

     <!-- <center>
        <table border="1" rules="all" width="700" height="800">
            <tr bgcolor="yellow">
                <th>S No.</th> 
                <th>Email</th>
                <th>Password</th>
                <th>Usertype</th>
                <th>status</th>


                <th>
                    Delete
                </th>
            </tr>
            <tr ng-repeat="obj in jsonAry">
                <td>{{$index}}</td>
                <td>{{obj.email}}</td>
                <td>{{obj.pwd}}</td>
                <td>{{obj.utype}}</td>
                <td>{{obj.status}}</td>

                <td>
                    <input type="button" value="Delete" ng-click=doDelete(obj.email,$index);>
                </td>
            </tr>
        </table>
    </center>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>

 -->






