<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NEEDY MED SEARCH</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="js/angular.min.js"></script>
  <script src="js/jquery-1.8.2.min.js"></script>

  <script>
    var moduleKuch = angular.module("myModule", []);
    moduleKuch.controller("myController", function ($scope, $http) {
      $scope.jsonAry = [];
      $scope.fetchAllCity = function () {
        $http.get("/fetchAllCity").then(fxSuccess, function (response) {
          alert(JSON.stringify(response.data));
        });
        function fxSuccess(response) {
          alert(JSON.stringify(response.data));
          $scope.jsonAddrCity = response.data;
        }
      }

      $scope.fetchAllMedicine = function () {

        var city = $scope.selCity;
        $http.get("/fetchAllMedicine?city=" + city).then(fxSuccess, function (response) {
          alert(JSON.stringify(response.data));
        });
        function fxSuccess(response) {

          alert(JSON.stringify(response.data));
          $scope.jsonAddrMedicine = response.data;
        }
      }

      $scope.doSearchNow = function () {
        var city = document.getElementById("comboCity").value;
        var med = document.getElementById("combomed").value;
        $http.get("/fetchdonor?city=" + city + "&med=" + med).then(fxSuccess, function (response) {
          alert(JSON.stringify(response.data));
        });
        function fxSuccess(response) {
          alert(JSON.stringify(response.data));
          $scope.jsonAry = response.data;
        }
      }
      //showdDetails
      $scope.showdDetails = function (email) {
        alert("details le aaya");

        $http.get("/contactDonor?emailidX="+email).then(fxSuccess, function (response) {
          alert(JSON.stringify(response.data));
        });
        function fxSuccess(response) {
          alert(JSON.stringify(response.data));
          $scope.jsonDetails = response.data;
          // alert(response.data.emailid);
          // $scope.modelemail=response.data.emailid;
        }
      }

    })



  </script>
</head>

<body ng-app="myModule" ng-controller="myController" ng-init="fetchAllCity(); ">

  <nav class="navbar bg-primary">
      
    <div class="container-fluid  " >
      <img src="mypics/vats md.png" alt="" width="100" height="75" style="margin:-12px; ">
  <span class="navbar-brand mb-0 h1"
    style="color: white;margin-left:45px; font-size: 30px; font-family:Georgia, 'Times New Roman', Times, serif ;">
 SEARCH MEDICINE</span>
    </div>
  </nav> 


  <div class="container" style="margin-top: 60px;">
    <div class="row">
      <div class="col-md-4">
        <h3>
          City Available
        </h3>
        <input class="form-select" aria-label="Default select example " id="comboCity" name="comboCity" type="text"
          ng-model="selCity" ng-Change="fetchAllMedicine();" list="CityName" />
        <datalist id="CityName">
          <option ng-repeat="obj in jsonAddrCity" value="{{obj.city}}">{{obj.city}}</option>
        </datalist>
      </div>

      <div class="col-md-4">
        <h3> Medicine Available
        </h3>
        <input class="form-select" aria-label="Default select example " type="text" id="combomed" list="MedName" />
        <datalist id="MedName">
          <option ng-repeat="obj in jsonAddrMedicine" value="{{obj.medicine}}">{{obj.medicine}}</option>
        </datalist>
      </div>

      <div class="col-md-2 justify-content-end" style="margin-top:40px">
        <input type="button" ng-click=doSearchNow(); class="btn btn-outline-primary form-control" value="Seek Donors">
      </div>
    </div>
  </div>
  <!-- d-flex justify-content-evenly mt-6 -->
  <div class="container" style="margin-top:20px;">
    <div class="row">
      <div class="col-md-3 " ng-repeat="obj in jsonAry" style="margin-left: 20px;">
        <div class="card" style="width: 16rem; border: 1px solid rgb(189, 181, 181); ">
          <img height="140" src="uploads/{{obj.profilepic}}" class="card-img-top" alt="...">
          <div class="card-body ">
            <center>
              <h6 class="card-title">Email ID: {{obj.emailid}}</h6>
              <hr>
              <h6 class="card-title"> Medicine: {{obj.medicine}}</h6>
              <hr>
              <input type="button"  class="btn btn-outline-primary form-control" value="Contact Donor" ng-click="showdDetails(obj.emailid);" data-bs-toggle="modal" data-bs-target="#login">
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- model of contact donor -->
  <!-- Modal  ng-repeat="obj in jsonDetails"-->

  <div  class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content"  >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Donor Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
          <div ng-repeat="obj in jsonDetails">
            <form class="row g-3">
              <div class="col-md-6">
                <label for="loginEmail" class="form-label">Email</label>
                <input type="email" value="{{obj.emailid}}" class="form-control" id="loginEmail"  name="loginEmail">
              </div>
              <div class="col-md-6">
                <label for="loginEmail" class="form-label">Name</label>
                <input type="email" value="{{obj.name}}" class="form-control" id="loginEmail" name="loginEmail">
              </div>

              <div class="col-md-6">
                <label for="loginEmail" class="form-label">Address</label>
                <input type="email" value="{{obj.address}}" class="form-control" id="loginEmail" name="loginEmail">
              </div>
              <div class="col-md-6">
                <label for="loginEmail" class="form-label">Mobile</label>
                <input type="email" value="{{obj.mobile}}" class="form-control" id="loginEmail" name="loginEmail">
              </div>
              
              <div class="col-md-4">
                <label for="loginEmail" class="form-label">City</label>
                <input type="email" value="{{obj.city}}" class="form-control" id="loginEmail" name="loginEmail">
              </div>
              <div class="col-md-4">
                <label for="loginEmail" class="form-label">Proof Type</label>
                <input type="email" value="{{obj.prooftype}}" class="form-control" id="loginEmail" name="loginEmail">
              </div>
              <div class="col-md-4">
                <label for="loginEmail" class="form-label">Timing</label>
                <input type="email" value="{{obj.timings}}" class="form-control" id="loginEmail" name="loginEmail">
              </div>
  
              <div class="col-md-6">
                <label for="loginEmail" class="form-label">Proof Pic</label>
                <img src="uploads/{{obj.proofpic}}" alt="" width="100" height="100">
                <!-- <input type="email" value="{{obj.company}}" class="form-control" id="loginEmail" name="loginEmail"> -->
              </div>
              <div class="col-md-6">
                <label for="loginEmail" class="form-label">Profile Pic</label>
                <img src="uploads/{{obj.profilepic}}" alt="" width="100" height="100">
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>